body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f1f1f1;
}

#game-container {
  position: relative;
  width: fit-content;
  margin: 50px auto;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

canvas {
  display: block;
  margin: 0 auto;
  background-image: url('bg.jpg'); /* Set your background image here */
  background-size: cover;
}

#instructions {
  text-align: center;
  margin-top: 20px;
}

h1 {
  text-align: center;
}
